<?php
$title = 'Add new newspost';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
echo $this->partial('news/helper/flashmessages.phtml');
$decorate_fields = array('title','introtext','fulltext','public');
$form = $this->form;
$form->setAttribute('action', $this->url('news', array('action' => 'add')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('security'));
foreach ($decorate_fields as $f):
    $element = $form->get($f);
    $element->setAttribute('class', 'form-control');
    ?>
    <div class="form-group">
        <?php echo $this->formRow($element);?>
    </div>
<?php
endforeach;
$element = $form->get('submit');
$element->setAttribute('class', 'btn btn-default');
?>
    <div class="form-group">
        <?php echo $this->formSubmit($element);?>
    </div>
<?php
echo $this->form()->closeTag();