<?php
$title = 'Новости';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<a class="btn btn-default" href="/news/list" role="button">Список новостей</a>
<a class="btn btn-default" href="/news/add" role="button">Добавить новость</a>