<?php
$title = 'Список новостей';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
echo $this->partial('news/helper/flashmessages.phtml');
foreach ($news_list as $news):?>
<div class="row">
    <div class="col-md-12">
        <h3><?php echo $news['title']?></h3>
    </div>
    <div class="col-md-8">
            <div><?php echo $news['introtext']?></div>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <span><?php echo date_format($news['created'],'Y-m-d H:i:s')?></span>
    </div>
    <div class="col-md-4">
        <div>

            <a class="btn btn-default" href="/news/detail/<?php echo $news['id']?>" role="button">Подробнее</a>
            <a class="btn btn-default" href="/news/edit/<?php echo $news['id']?>" role="button">Редактировать</a>
            <a class="btn btn-default" href="/news/delete/<?php echo $news['id']?>" role="button">Удалить</a>
        </div>
    </div>

</div>
<?php endforeach;